<script>
var map = {

    "java蔟":"{{ site.baseurl }}/archives/category/java",
    "Spring全家桶":"{{ site.baseurl }}/archives/category/spring",
    "数据库及缓存相关":"{{ site.baseurl }}/archives/category/dbcache",
    "网络框架":"{{ site.baseurl }}/archives/category/networkframework",
    "Linux":"{{ site.baseurl }}/archives/category/linux",
    "消息队列":"{{ site.baseurl }}/archives/category/messagequeue",
    "容器":"{{ site.baseurl }}/archives/category/container",
    "大数据":"{{ site.baseurl }}/archives/category/bigdata",
    "任务调度":"{{ site.baseurl }}/archives/category/job",
    "注册和配置中心":"{{ site.baseurl }}/archives/category/regconfig",
    "devops":"{{ site.baseurl }}/archives/category/devops",
    "服务器":"{{ site.baseurl }}/archives/category/server",
    "链路追踪及分析诊断":"{{ site.baseurl }}/archives/category/javaagent",
    "网关":"{{ site.baseurl }}/archives/category/gateway",
    "工具类":"{{ site.baseurl }}/archives/category/tools",
    "前端框架":"{{ site.baseurl }}/archives/category/javascrptframework",
    "数据结构和算法":"{{ site.baseurl }}/archives/category/struct",
    "JUC":"{{ site.baseurl }}/archives/article/java/juc"
}

</script>