<div id="study" align="center" style="width:100%;height:100%">
    <div style="height: 500px;overflow: hidden" id="canvas"></div>
</div>
<script>

    var map = {

        "java蔟":"java",
        "Spring全家桶":"springframework",
        "数据库及缓存":"dbcache",
        "网络框架":"networkframework",
        "Linux":"linux",
        "消息队列":"messagequeue",
        "容器":"container",
    }

    var currentData = window.localStorage.getItem("currentData");
    ///init datas
    // alert(currentData == "java")
    var datas = {};
    if(currentData == null || typeof(currentData) == "undefined"){
        datas = {
            name: '技能图谱',
            children: [
                {name: 'java蔟'},
                {name: 'Spring全家桶'},
                {name: '数据库及缓存'},
                {name: '网络框架'},
                {name: 'Linux'},
                {name: '大数据'},
                {name: '容器'},
                {name: '消息队列'},
                {name: '设计模式'},
                {name: '服务器',},
                {name: 'MQ和RPC'},
                {name: '数据结构和算法'},
                {name: '性能优化'},
                {name: '开发工具'},
                {name: '前端'}
            ]
        }
    }else if(currentData == "java"){
        datas = {
            name: 'JAVA技能图谱',
            children: [
                {name: 'java集合', children: [{name: 'HashMap'}, {name: 'List'}, {name: 'LinkedList'}]},
                {name: 'JUC',children:[{name: 'volatile'}]},
                {name: 'JVM'}
            ]
        }
    }else if(currentData == "springframework"){
        datas = {
            name: 'Spring技能图谱',
            children: [
                {name: 'Spring'},
                {name: 'Spring Boot'},
                {name: 'Spring cloud'}
            ]
        }
    }else if(currentData == "dbcache"){
        datas = {
            name: '数据库及缓存',
            children: [
                {name: 'MySQL'},
                {name: 'Redis'},
                {name: 'MongoDB'},
                {name: 'Memcache'}
            ]
        }
    }else if(currentData == "linux"){
        datas = {
            name: 'Linux',
            children: [
                {name: 'shell'},
                {name: 'awk'},
                {name: 'tail'},
                {name: 'grep'}
            ]
        }
    }else if(currentData == "networkframework"){
        datas = {
            name: '网络框架',
            children: [
                {name: 'netty'}
            ]
        }
    }else if(currentData == "messagequeue"){
        datas = {
            name: '消息队列',
            children: [
                {name: 'kafka'},
                {name: 'RabbitMQ'},
                {name: 'RocketMQ'}
            ]
        }
    }
</script>